* {
    box-sizing: border-box;
  }
body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}
/* font-family: "Inter", serif; */
/* font-family: "Lora", serif; */
.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    padding-top: 30px;
    padding-bottom: 80px;
}
.book-menu {
    display: flex;
    gap: 33px;
    align-items: center;
}
.button-menu button {
    width: 193px;
    height: 61px;
    border-radius: 6px;
    background: rgb(33, 158, 188);
    border: none;
    font-family: "Inter", serif;;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.container-photo {
    width: 830.87px;
    height: 997.34px;
    padding-left: 16.93px;
}
.container-info {
    margin: 0 auto;
    width: 93%;
    display: flex;
    justify-content: space-between;
}
.container-aboutplaces {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: "Lora", serif;
    font-size: 88px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 117px;
}
.container-choices {
    display: flex;
    flex-direction: column;
}
.explore-india {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 52px;
    padding-bottom: 40px;
}
h2 {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}
.button-country button {
    width: 124px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
}
.button-country img {
    padding-left: 8px;
}
.places-photos {
    display: flex;
    flex-direction: row;
}
.arrow-left img, .arrow-right img {
    width: 32px;
    height: 32px;
}
.arrow-left {
    height: 292px;  
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.arrow-right {
    height: 292px;  
    display: flex;
    align-items: center;
}
.block-photo img {
    display: flex;
}
.block-photo {
    padding-right: 39px;
}
 .block-photo-last {
    padding-right: 21px;
}
p {
    margin: 0;
    padding-top: 20px;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
}
.explore-more {
    display: flex;
    justify-content: end;
    padding-top: 40px;
    padding-right: 52px;
}
.link {
    position: relative;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(33, 158, 188);
    text-decoration: none;
}
.link::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(33, 158, 188);
    width: 146px;
    height: 2px;
    margin: 10px 0px;
}
@media (max-width:1890px) {
    .logo img {
        width: 70px;
        height: 70px;
    }
    .header-container {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .book-menu {
        gap: 28px;
    }
    .button-menu button {
        width: 159px;
        height: 48px;
        font-size: 20px;
    }
    .container-photo {
        padding-left: 60px;
    }
    .container-photo img {
        padding-left: 3px;
        width: 576px;
        height: 627px;
    }
    .container-info {
        gap: 47px;
    }
    h1 {
        font-size: 50px;
        padding-bottom: 56px;
    }
    .explore-india {
        padding-left: 13px;
        padding-bottom: 28px;
    }
    h2 {
        font-size: 21px;
    }
    .button-country button {
        width: 102px;
        height: 43px;
        font-size: 18px;
    }
    .button-country img {
        padding-left: 8px;
    }
    .arrow-left img, .arrow-right img {
        width: 32px;
        height: 32px;
    }
    .arrow-left {
        height: 245px;
        padding-right: 5px;
    }
    .arrow-right {
        height: 245px;
        padding-left: 5px; 
    }
    .block-photo {
        padding-right: 8px;
    }
    .block-photo-last {
        padding-right: 2px;
    }
    .block-photo img {
        height: 245px;
    }
    .block-photo-last img {
        height: 245px;
    }
    p {
        padding-top: 16px;
        font-size: 18px;
    }
    .explore-more {
        padding-top: 20px;
    }
    .link {
        font-size: 21px;
    }
    .link::after {
        width: 133px;
    }
}
@media (max-width:1430px) {
.container-photo {
    padding-left: 0px;
}
.container-photo img {
    padding-left: 0px;
    width: 429px;
    height: 564px;
}
h1 {
    font-size: 41px;
    padding-bottom: 45px;
    }
.explore-india {
    padding-left: 10px;
    padding-bottom: 25px;
}
h2 {
    font-size: 20px;
}
.button-country button {
    width: 95px;
    height: 40px;
    font-size: 17px;
}
.arrow-left {
    height: 230px;
    padding-right: 4px;
}
.block-photo img {
    height: 230px;
}
.block-photo-last img {
    height: 230px;
}
p {
    font-size: 17px;
}
.arrow-right {
    height: 230px;
    padding-left: 4px;
}
.block-photo {
    padding-right: 9px;
}
.container-info {
    gap: 37px;
}
}
@media (max-width:1140px) {
    .logo img {
        width: 40px;
        height: 40px;
    }
    .header-container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .container-info {
        margin: 0 auto;
        width: 93%;
        display: contents;
    }
    .container-aboutplaces {
        padding-left: 14px;
        }
    .book-menu {
        gap: 10px;
    }
    .button-menu button {
        width: 101px;
        height: 31px;
        font-size: 15px;
    }
    .menu img {
        width: 25px;
        height: 25px;
    }
    .container-photo {
        padding-left: 15px;
        width: auto;
        height: auto;
    }
    .container-photo img {
        padding-left: 0px;
        width: 308px;
        height: 327px;
    }
    .container-info {
        gap: 47px;
    }
    h1 {
        font-size: 31px;
        padding-bottom: 18px;
    }
    .explore-india {
        padding-left: 0px;
        padding-bottom: 23px;
    }
    h2 {
        font-size: 14px;
    }
    .button-country button {
        width: 87px;
        height: 31px;
        font-size: 15px;
    }
    .button-country img {
        padding-left: 8px;
    }
    .places-photos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .arrow-left img, .arrow-right img {
        width: 25px;
        height: 25px;
    }
    .arrow-left {
        height: 175px;
        padding-right: 3px;
    }
    .arrow-right {
        height: 175px;
        padding-left: 3px; 
    }
    .block-photo {
        padding-right: 8px;
    }
    .block-photo-last {
        padding-right: 2px;
    }
    .block-photo img {
        height: 175px;
    }
    .block-photo-last img {
        height: 175px;
    }
    p {
        padding-top: 10px;
        font-size: 12px;
    }
    .explore-more {
        padding-top: 6px;
        padding-bottom: 25px;
    }
    .link {
        font-size: 17px;
    }
    .link::after {
        width: 109px;
        margin: 5px 0px;
    }
}